@import '/styles/globals';

section.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .burger {
            cursor: pointer;
            width: 60px;

            .beige {
                fill: #bd9855;
            }

            .white {
                fill: #faf8f3;
            }
        }

        .logo {
            display: flex;
            align-items: center;
        }
    }
}