@import '/styles/globals';

section.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .burger {
            cursor: pointer;
        }

        .logo {
            display: flex;
            align-items: center;
        }
    }
}